<section class="job-list">
    <h4 data-ng-if="!list.SearchService.helper.isSearching && list.SearchService.currentListData.length">{{'list.jobListHeading' | i18n}}</h4>

    <div class="cards">
        <div class="card-wrapper" data-ng-repeat="job in list.SearchService.currentListData | orderBy:dateLastPublished">
            <a class="card slide-up-item" data-ng-href="#/jobs/{{job.id}}">
                <span class="card-date" data-ng-if="job.dateLastPublished">{{'common.addedLabel' | i18n}} - {{job.dateLastPublished | displayDate}}</span>

                <span class="card-title-category">
                    <span class="card-title">{{::job.title}}</span>
                    <span class="card-category">{{::job.publishedCategory.name}}</span>
                </span>

                <span class="card-location">
                    {{::job.address.city}}<span data-ng-if="::(job.address.city && job.address.state)">,&nbsp;</span>{{::job.address.state}}
                </span>
                <span class="card-separator" data-ng-show="::((job.address.city || job.address.state) && job.employmentType)">|</span>
                <span class="card-type">{{::job.employmentType}}</span>

                <span class="card-description">{{::job.publicDescription | stripHtml}}</span>

                <i class="bhi-arrow-right"></i>
            </a>
        </div>
    </div>

    <div class="no-data-message" data-ng-if="!list.SearchService.helper.isSearching && !list.SearchService.currentListData.length">
        <h2>{{'common.noDataHeading' | i18n}}</h2>

        <h3>{{'list.noDataMessage' | i18n}}</h3>

        <p data-ng-if="list.SearchService.searchParams.location.length || list.SearchService.searchParams.category.length || list.SearchService.searchParams.textSearch.length">
            <a href data-ng-click="list.clearSearchParamsAndLoadData();">{{'list.noDataResolution' | i18n}}</a>
        </p>
    </div>

    <p class="load-more-data" data-ng-click="list.loadMoreData();" data-ng-show="list.SearchService.helper.hasMore">
        {{'list.loadMoreDataLabel' | i18n}}
    </p>
</section>

<footer class="main-footer">
    <div class="link-row">
        <ul>
            <li><h3>About Us</h3></li>
            <li><a href="http://www.bullhorn.com/about/careers/">Careers</a></li>
            <li><a href="http://www.bullhorn.com/about">Story</a></li>
            <li><a href="http://www.bullhorn.com/news-and-press/awards/">Awards</a></li>
            <li><a href="http://www.bullhorn.com/about#leadership">Leadership</a></li>
            <li><a href="http://www.bullhorn.com/news-and-press/media-coverage/">Media Coverage</a></li>
            <li><a href="http://www.bullhorn.com/news-and-press/press-releases/">Press Releases</a></li>
            <li><a href="http://www.bullhorn.com/blog/">Blog</a></li>
            <li><a href="http://www.bullhorn.com/news-and-press/press-kit/">Press Kit</a></li>
        </ul>
        <ul>
            <li><h3>For Customers</h3></li>
            <li><a href="https://www.bullhorn.com/client-login/" target="_blank">Client Login</a></li>
            <li><a href="http://www.bullhorn.com/contact-us/">Contact Us</a></li>
        </ul>
        <ul>
            <li><h3>Contact Us</h3></li>
            <li>(617) 478 - 9100</li>
            <li><a href="mailto:Sales@Bullhorn.com?Subject=Sales%20Inquery" target="_top">Sales@Bullhorn.com</a></li>
            <li class="address">100 Summer Street,<br>17th Floor,<br>Boston, MA 02110</li>
        </ul>
        <ul>
            <li><h3>About Bullhorn Relationship Management Software</h3></li>
            <li class="about-story">Bullhorn provides cloud-based CRM solutions for relationship-driven businesses. Its automated data capture and customer insight technology helps companies win customers and keep them engaged. Today, more than 6,000 companies rely on the Bullhorn platform to help increase sales, improve service delivery, and streamline operations. Headquartered in Boston, with offices around the world, Bullhorn employs over 600 people globally. The company is founder-led and backed by Vista Equity Partners. To learn more, visit www.bullhorn.com or follow @Bullhorn on Twitter.</li>
        </ul>
    </div>
    <div class="bottom-row">
        <span>© 2000 - 2016 Bullhorn, Inc. All rights reserved.</span>
        <div class="">
            <a href="http://www.bullhorn.com/sitemap/">Sitemap</a>
            <a href="http://www.bullhorn.com/legal/">Legal</a>
            <a href="http://www.bullhorn.com/privacy/">Privacy Policy</a>
            <a href="http://1agb93314bcf1knhv22id9u9.wpengine.netdna-cdn.com/wp-content/uploads/2014/10/US-Terms-of-Service-5.1.pdf">Terms of Service</a>
        </div>
    </div>
</footer>
